@page "/test"

<h1>Test layout</h1>

<ul id="listofclocks">
    <li>
        <div class="clock-area">
            <div class="nudge-buttons-area">
                <button class="nudge-button"
                        title="Nudge up 30 seconds">
                    +30
                </button>
                <button class="nudge-button"
                        title="Nudge up 10 seconds">
                    +10
                </button>
                <button class="nudge-button"
                        title="Nudge down 10 seconds">
                    -10
                </button>
                <button class="nudge-button"
                        title="Nudge down 30 seconds">
                    -30
                </button>
            </div>

            <div class="clock-display-area">
                <div class="clock-label">this is a label </div>
                <div class="clock-text">01:00:00</div>
            </div>

            <div class="clock-controls-area">
                <button>Start</button>
                <button>Stop</button>
            </div>
        </div>
    </li>
    <li>
        <div class="clock-area">
            <div class="nudge-buttons-area">
                <button class="nudge-button"
                        title="Nudge up 30 seconds">
                    +30
                </button>
                <button class="nudge-button"
                        title="Nudge up 10 seconds">
                    +10
                </button>
                <button class="nudge-button"
                        title="Nudge down 10 seconds">
                    -10
                </button>
                <button class="nudge-button"
                        title="Nudge down 30 seconds">
                    -30
                </button>
            </div>

            <div class="clock-display-area">
                <div class="clock-label">this is a label </div>
                <div class="clock-text">01:00:00</div>
            </div>

            <div class="clock-controls-area">
                <button>Start</button>
                <button>Stop</button>
            </div>
        </div>
    </li>
</ul>

<p>Something here</p>