.background-red {
    background-color: red;
}

.background-yellow {
    background-color: gold;
}

.background-normal {
    background-color: white;
}

.clock-text {
    font-size: 3em;
}

.message-text {
    font-size: 2em;
}