@page "/about"
@inject ILogger<Index> Log
@inject IConfiguration Config
@inject IJSRuntime JSRuntime

<header>
    <img src="images/header-logo.png"
         class="logo-image" />
</header>

<main>
    <article>
        <h1>@Branding.AboutPageTitle</h1>

        <blockquote>
            Timekeeper is a simple app running on PC, Mac and mobile phones. It allows a host and their guests (for example on a live stream) to keep track of time.
            <br /><br />
            More information at <a href="https://github.com/lbugnion/timekeeper">Timekeeper on GitHub</a>
            <br /><br />
            Twitter: Laurent Bugnion <a href="https://twitter.com/lbugnion">@@LBugnion</a>
        </blockquote>
    </article>
</main>

<footer>
    <div class="status-message">Version: @ClientVersion @Environment</div>
</footer>