@page "/about"
@inject ILogger<About> Log
@inject IConfiguration Config
@inject IJSRuntime JSRuntime

<header>
    <img src="images/header-logo.png"
         class="logo-image" />
</header>

<main>
    <article>
        <h1>@Branding.AboutPageTitle</h1>

        @if (Program.IsBeta)
        {
            <blockquote class="warning"><strong>BETA:</strong> This is the beta version of Timekeeper. <a href="https://github.com/lbugnion/timekeeper/issues">Please report issues here</a>. You can find the <a href="http://www.timekeeper.cloud">stable version of Timekeeper here</a>.</blockquote>
        }

        <blockquote>
            Timekeeper is a simple app running on PC, Mac and mobile phones. It allows a host and their guests (for example on a live stream) to keep track of time.
            <br /><br />
            More information at <a href="https://github.com/lbugnion/timekeeper">Timekeeper on GitHub</a>
            <br /><br />
            Twitter: Laurent Bugnion <a href="https://twitter.com/lbugnion">@@LBugnion</a>
        </blockquote>

        <h2>Tutorial</h2>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/dMjiX2NFIrg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <h2>Topics</h2>

        <blockquote>
            This tutorial shows how to log in into a protected version of Timekeeper. The version on this site is not protected by authorization.
            <br /><br />
            To get a protected version of Timekeeper, contact <a href="mailto:support@timekeeper.cloud">support@timekeeper.cloud</a>.
        </blockquote>

        <ul>
            <li><a href="https://youtu.be/dMjiX2NFIrg?t=11" target="_blank">Logging in</a></li>
            <li><a href="https://youtu.be/dMjiX2NFIrg?t=21" target="_blank">Creating a session</a></li>
            <li><a href="https://youtu.be/dMjiX2NFIrg?t=27" target="_blank">Editing a clock</a></li>
            <li><a href="https://youtu.be/dMjiX2NFIrg?t=63" target="_blank">Adding a clock</a></li>
            <li><a href="https://youtu.be/dMjiX2NFIrg?t=72" target="_blank">Overtime label</a></li>
            <li><a href="https://youtu.be/dMjiX2NFIrg?t=80" target="_blank">Removing a clock</a></li>
            <li><a href="https://youtu.be/dMjiX2NFIrg?t=80" target="_blank">Sections: Sending messages</a></li>
            <li><a href="https://youtu.be/dMjiX2NFIrg?t=88" target="_blank">Sections: Session information</a></li>
            <li><a href="https://youtu.be/dMjiX2NFIrg?t=93" target="_blank">Connecting a guest</a></li>
            <li><a href="https://youtu.be/dMjiX2NFIrg?t=99" target="_blank">Connected peers</a></li>
            <li><a href="https://youtu.be/dMjiX2NFIrg?t=112" target="_blank">Starting multiple clocks</a></li>
            <li><a href="https://youtu.be/dMjiX2NFIrg?t=119" target="_blank">"Nudging"" a clock</a></li>
            <li><a href="https://youtu.be/dMjiX2NFIrg?t=138" target="_blank">"Pay attention" time</a></li>
            <li><a href="https://youtu.be/dMjiX2NFIrg?t=142" target="_blank">"Almost done" time</a></li>
            <li><a href="https://youtu.be/dMjiX2NFIrg?t=148" target="_blank">Going overtime</a></li>
            <li><a href="https://youtu.be/dMjiX2NFIrg?t=155" target="_blank">Stopping a clock</a></li>
            <li><a href="https://youtu.be/dMjiX2NFIrg?t=160" target="_blank">Connecting a mobile guest</a></li>
            <li><a href="https://youtu.be/dMjiX2NFIrg?t=171" target="_blank">Editing mobile guest name</a></li>
            <li><a href="https://youtu.be/dMjiX2NFIrg?t=177" target="_blank">Keeping mobile devices awake</a></li>
            <li><a href="https://youtu.be/dMjiX2NFIrg?t=181" target="_blank">Focus mode on mobile</a></li>
            <li><a href="https://youtu.be/dMjiX2NFIrg?t=187" target="_blank">Sending prompts</a></li>
            <li><a href="https://youtu.be/dMjiX2NFIrg?t=214" target="_blank">Clearing the prompt</a></li>
            <li><a href="https://youtu.be/dMjiX2NFIrg?t=218" target="_blank">Duplicating a session</a></li>
        </ul>

        <h2>Dependencies and technologies</h2>

        <ul>
            <li><a href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor">Blazor</a> by Microsoft</li>
            <li><a href="https://docs.microsoft.com/en-us/azure/azure-functions/functions-overview">Azure Functions</a> by Microsoft</li>
            <li><a href="https://docs.microsoft.com/en-us/azure/azure-signalr/">Azure SignalR Service</a> by Microsoft</li>
            <li><a href="https://www.newtonsoft.com/json">Json.NET</a> by Newtonsoft</li>
            <li><a href="https://github.com/Blazored/LocalStorage">Blazored Local Storage</a> by <a href="https://github.com/chrissainty">Chris Sainty</a></li>
            <li><a href="https://github.com/codebude/QRCoder">QRCoder</a> by <a href="https://github.com/codebude">Raffael Herrmann</a></li>
        </ul>
    </article>
</main>

<footer>
    <div class="status-message">
        Version: @ClientVersion @Beta @Environment
    </div>
</footer>