@page "/login"

@{
    var providers = new Dictionary<string, string>
    {
        { "github", "GitHub" },
        { "twitter", "Twitter" }
    };
}

<main>
    <article>
        <h1>Login</h1>

        <ul>
            @foreach (var provider in providers)
            {
                <li>
                    <a href="/.auth/login/@provider.Key?post_login_redirect_uri=/host">
                        Sign in with @provider.Value
                    </a>
                </li>
            }
        </ul>
    </article>
</main>

<footer>
    Please log in
</footer>