@page "/test"

<button @onclick="LogUsername">Log username</button>

<p>@_authName</p>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    private string _authName;

    private async Task LogUsername()
    {
        var authState = await authenticationStateTask;

        if (authState == null)
        {
            _authName = "No auth state found";
            return;
        }

        var user = authState.User;

        if (user == null)
        {
            _authName = "No user found";
            return;
        }

        if (user.Identity == null)
        {
            _authName = "No Identity found";
            return;
        }

        if (user.Identity.IsAuthenticated)
        {
            _authName = $"{user.Identity.Name} is authenticated.";
        }
        else
        {
            _authName = "The user is NOT authenticated.";
        }
    }
}