header {
    height: 80px;
    padding: 10px 20px;
    background-color: #68CBDA;
}

main {
    padding: 100px 0 1.5em 0; /* Header and Footer height */
}

.logo-image {
}

.connected-guests {
    float: right;
    margin-right: 40px;
    top: 0px;
    font-size: 2em;
    color: white;
}

h1 {
    color: #68CBDA;
}

footer {
    background-color: #68CBDA;
}