.logo-image {
    width: 270px;
    margin: 20px 0 0 20px;
}

header {
    background-color: #a3dcf7;
}

footer {
    background-color: #a3dcf7;
}

h1 {
    color: #13AFF2;
}

h2 {
    color: #13AFF2;
}

.connected-guests {
    color: white;
}

.start-all-clocks-area button {
    color: white;
    background-color: red;
}