html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2 {
    font-family: 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif;
    color: darkblue;
}

article {
    padding: 10px 15px 10px 15px;
}

footer {
    background-color: cornflowerblue;
}

.background {
    width: 100%;
    height: 100%;
}

.clock-area {
    margin-top: 30px;
}

.clock-text {
    font-size: 5em;
}

.message-text {
    font-size: 3em;
    line-height: 1em;
}

.message-area {
    margin-top: 30px;
    margin-bottom: 20px;
}

.status-message {
    font-size: 1em;
}

.error-message {
    color: red;
    font-weight: bold;
}

.controls-area {
    margin-top: 10px;
}

.send-message-area {
}

button {
    margin-right: 10px;
    width: 200px;
}

button.small-button {
    margin: 0 10px 0 0;
    width: 80px;
}

.input-text {
    width: 300px;
    font-size: 1.5em;
    margin-bottom: 15px;
    margin-right: 10px;
}

#send-message-button {
    font-size: 1.5em;
}

blockquote {
    background-color: aliceblue;
    padding: 10px;
}

blockquote.warning {
    background-color: bisque;
    padding: 10px;
}

article p, article ul, blockquote {
    max-width: 480px;
}

.session-information-area {
    margin-top: 10px;
}

.session-information-area h3 {
    margin-bottom: 5px;
    font-weight: bold;
}

.edit-link {
    margin-top: -15px;
    margin-left: 5px;
    font-size: 1em;
}

a:link, a:visited {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: purple;
    text-decoration: underline;
}

/* Configuration */

.h1-edit-field {
    font-size: 3em;
    font-family: 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif;
    color: darkblue;
    width: 430px;
    margin-bottom: 20px;
}

.config-time {
    width: 100%;
    margin-top: 0px;
}

.medium-input-text, .short-input-text {
    font-size: 1.5em;
    margin-top: 5px;
}

.medium-input-text {
}

.short-input-text {
    width: 50px;
}

.form-label {
    font-size: 1em;
    font-weight: bold;
}

.form-explanation, .form-explanation-color {
    font-size: 0.9em;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-explanation-color {
    padding: 5px;
}

.valid {
}

.invalid {
    background-color: bisque;
}

li.validation-message {
    color: red;
    font-weight: bold;
}

.edit-area {
    margin-bottom: 20px;
    max-width: 300px;
}

.edit-area p {
    margin-top: 4px;
    margin-bottom: 5px;
}

.connected-guests {
    float: right;
    top: 20px;
    font-size: 2em;
    color: cornflowerblue;
}

.clock-controls-area {
    margin-top: 10px;
    margin-bottom: 20px;
}

.clock-controls-area button {
    width: 80px;
}

.clock-label {
    font-size: 1.5em;
}

/* Just for Hello World */
.hello-world-warning {
    background-color: #8120BA;
    color: white;
}

.hello-world-warning a {
    color: white;
    text-decoration: underline;
}

.hello-world-warning a:visited {
    color: white;
    text-decoration: underline;
}