header {
    height: 80px;
    padding: 10px 20px;
}

main {
    padding: 100px 0 1.5em 0; /* Header and Footer height */
}

.logo-image {
    width: 300px;
}

.connected-guests {
    float: right;
    margin-right: 40px;
    top: 0px;
    font-size: 2em;
    color: white;
}

/* Hello world colors of the day */

.background-day-mon {
    background-color: #233BC2;
}

.background-day-tue {
    background-color: #8120BA;
}

.background-day-wed {
    background-color: #05574C;
}

.background-day-thu {
    background-color: #595959;
}

.background-day-fri {
    background-color: #1A3B1F;
}

.background-day-sat {
    background-color: #1f1f1f;
}

.background-day-sun {
    background-color: #1A3B1F;
}

.foreground-day-mon {
    color: #233BC2;
}

.foreground-day-tue {
    color: #8120BA;
}

.foreground-day-wed {
    color: #05574C;
}

.foreground-day-thu {
    color: #595959;
}

.foreground-day-fri {
    color: #1A3B1F;
}

.footer-day-mon {
    background-color: #53E1FC;
}

.footer-day-tue {
    background-color: #CD91FA;
}

.footer-day-wed {
    background-color: #3BE0C9;
}

.footer-day-thu {
    background-color: #FAED3B;
}

.footer-day-fri {
    background-color: #92EE39;
}
