@page "/helloworld-backstage/branding"
@inject ILogger<BrandingTest> Log

<header class="@Today.BackgroundClass">

    <img src="@Today.ImagePath"
         style="width: 300px;" />

</header>

<main>
    <article>
        <h1 class="@Today.ForegroundClass">Branding test</h1>

    </article>
</main>

<footer>
</footer>