@page "/"
@inject ILogger<Index> Log
@inject IConfiguration Config 

<main>
    <h1>Timekeeper</h1>

    <p><a href="/host">Log in as the host</a></p>

    <p><a href="/guest">Log in as a guest</a></p>
</main>

<footer>
Version: @ClientVersion @Environment
</footer>

