@page "/"
@inject ILogger<Index> Log
@inject IConfiguration Config
@inject NavigationManager Nav

<main>
    <article>
        <h1>Timekeeper</h1>

        <blockquote>Timekeeper is a simple app running on PC, Mac and mobile phones. It allows a host and their guests (for example on a live stream) to keep track of time.</blockquote>

        @if (Program.IsExperimental)
        {
            <blockquote class="warning"><strong>WARNING:</strong> This is an experimental version of Timekeeper currently in development. This can be unstable and cause issues. Use only for test purposes.</blockquote>
        }

        <h2>Try it by yourself</h2>

        <button @onclick="LogInHost">Log in as the host</button>

        <button>Log in as a guest</button>

        <h2>This is a proof of concept application.</h2>

        <p>Imagine that you are the host for a streamed show, doing some recordings, or any activity where you have a remote guest. One of the hardest parts is to keep track of time, and to let your guests know when the time is coming to an end.</p>

        <p>This application offers a solution to the problem.</p>

        <ul>
            <li>Send the URL to your guests and ask them to load this on a phone, PC, Mac.</li>
            <li>When ready, start the clock. All your guests will see the exact same time.</li>
            <li>After a predefined time, the screen turns green, yellow and then red for all guests.</li>
            <li>The Host can send messages to the guests.</li>
        </ul>

        <h2>Plans for later</h2>

        <ul>
            <li>The Host will be able to set up predefined messages.</li>
            <li>The Host will be able to configure the countdown time, green, yellow and red times.</li>
            <li>The Host will be able to define if the display should blink when the clock goes over.</li>
            <li>The Host will be able to pause/resume the clock.</li>
            <li>Maybe more...</li>
        </ul>
    </article>
</main>

<footer>
    Version: @ClientVersion @Environment
</footer>